@charset "UTF-8";



html{
   background:radial-gradient(red,black);
   height:100%;
}

body{
   background:white;
   margin-top: 0%;
   width:90%;
   margin-left:auto;
   margin-right:auto;
}


nav{
    background-color: black;
    height: 20px;
 }
 nav ul{
    list-style-type: none;
    padding: 0px;
    margin: 0;
    position: absolute;
 }
 ul li{
    float: left;
 }
 ul li a{
    width: 150px;
    color: white;
    display: block;
    text-decoration: none;
    text-align: center;
 }
 li a:hover{
    background-color: grey;
 }
 ul li ul{
    display: none;
    background-color: black;
 }
 ul li ul li{
    float: none;
 }
 ul li:hover ul{
    display: block;
 }
 footer{
     color: white;
     background-color: black;
 }
 