@charset "UTF-8";



html{
   background:radial-gradient(red,black);
   height:100%;
}

body{
   background:white;
   margin-top: 0%;
   width:90%;
   margin-left:auto;
   margin-right:auto;
}

nav{
    background-color: black;
    text-align: right;
	padding: 5px 10px 5px 0px;
}
nav ul{
    list-style-type: none;
    padding: 0px;
    margin: 0;
    position: absolute;
    text-align: center;
}
ul li{
    float: left;
}
ul li a{
   width: 150px;
   color: white;
   display: block;
   text-decoration: none;
   text-align: center;
}
li a:hover{
   background-color: grey;
}


figure{
   display: block;
   float: left;
}
figure::after{
   clear: both;
   content: "";
   display: table;
}

div.col-1-3 aside{
    background-color: grey;
    padding: 10px;
    float: left;
    height: 100%;
    outline: 2px, black;
}


footer {
    background-color: black;
    font-size: 0.9em;
    padding: 10px;
    text-align: center;
}
