@charset "UTF-8";



html{
   background:radial-gradient(red,black);
   height:100%;
}

body{
   background-color: white;
   border-left: 1px solid black;
   border-right: 1px solid black;
   box-shadow: black 15px 0px 25px,
               black -15px 0px 25px;
   width:95%;
   min-width: 640px;
   max-width: 960px;
   margin-left:auto;
   margin-right:auto;
}
div#logo{
   padding-left: 15%;
   background: black;
}
nav{
    background-color: black;
    padding-top: 12px;
    padding-left: 20%;
    height: 35px;
 }
 nav ul{
    list-style-type: none;
    padding: 0px;
    margin: 0;
    position: absolute;
 }
 ul li{
    float: left;
 }
 ul#home li{
    float: none;
    padding-left: 40px;
 }
ul li a{
    width: 150px;
    color: white;
    display: block;
    text-decoration: none;
    text-align: center;
 }
li a:hover{
    background-color: grey;
 }
  ul li ul{
    display: none;
    background-color: black;
 }
 ul li ul li{
    float: none;
 }
 ul li:hover ul{
    display: block;
 }
 footer{
    text-align: center;
    width: 100%;
    height: 30px;
    clear: left;
   color: white;
   background-color: black;
 }
 ul#stories{
   padding-left: 30px;
   margin-top: 20px;
   margin-right: auto;
   margin-bottom: 20px;
   margin-left: auto;
}
ul#stories li{
   display: block;
   margin-top: 30px;
   margin-bottom: 30px;
   margin-left: auto;
}

ul#stories img{
   height: 20%;
   width: 20%;
}
ul#stories p{
    background-color: red;
   box-shadow:inset black 5px 0px 15px;
    padding: 15px;
    border-radius: 20px;
    float: left;
    width: 70%;
 }
li{
   text-decoration: none;
}
@font-face{
   font-family: Spooktober;
   src: url(Early\ Halloween\ Adventures.ttf);
}
@font-face{
   font-family: Centralia;
   src: url(Centralia-GOOZA.ttf);
}